@import 'classes';

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  transition: opacity 0.15s linear;

  &:hover {
    opacity: 0.9;
  }
}

input:read-only {
  cursor: default;
}
